language: node_js
node_js:
  - 6
cache:
  directories:
    - node_modules
install:
  - npm install
  - npm install -g cypress-cli
before_script:
  - npm start -- --silent &
script:
  - cypress run --record
notifications:
  email: false
